@model Who.Web.Models.RoundAnsweredViewModel

@{
 ViewBag.Title = "RoundAnswered";
}

<div class="row">
    <div class="col-xs-6 text-center">
        <h5>WHO'S</h5>
        <h3>@Model.Name</h3>
    </div>
    <div class="col-xs-6 text-center">
        <h5>@Model.AmountOfRoundsPlayed / @Model.TotalRounds</h5>
    </div>
</div>
<div class="row">
    @for (int i = 0; i < Model.Images.Count; i++)
    {
        if (i % 2 == 0)
        {
            @:<div class="col-xs-6 col-sm-offset-3 col-sm-3">
            }
            else
            {
                @:<div class="col-xs-6 col-sm-3">
                }

                if (Model.Images[i].Id == Model.CorrectImageId)
                {
                    <figure class="border-success">
                        <img class="img-responsive img-game" src=@Model.Images[i].Url alt="CorrectImage">
                    </figure>

                }
                else if (Model.Images[i].Id == Model.GuessedImageId)
                {
                    <figure class="border-danger">
                        <img class="img-responsive img-game img-ignore" src=@Model.Images[i].Url alt="WrongImage">
                    </figure>
                }
                else
                {
                    <figure>
                        <img class="img-responsive img-game img-ignore" src=@Model.Images[i].Url alt="WrongImage">
                    </figure>
                }
            @:</div>
            
            if (i % 2 == 1)
            {
                <div class="clearfix"></div>
            }

        }
</div>
<script>
    @if (Model.AmountOfRoundsPlayed == Model.TotalRounds) {
        @:setTimeout(function () { window.location.replace('@Url.Action("HighScoresPersonal", "Game")') }, 3000);
    }
    else {
        @:setTimeout(function() { window.location.replace('@Url.Action("Play", "Round")')}, 3000);
    }
</script>
