    @model Who.Web.Models.GameViewModel

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div>
    <h4>GameViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AmountOfRoundsPlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfRoundsPlayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalRounds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalRounds)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(linkText: "Play round", actionName: "Play", controllerName : "Round" ,routeValues: null, htmlAttributes:null) |
    @Html.ActionLink("Back to List", "Index")
</p>
