@model IEnumerable<Who.Web.Models.ImagePersonViewModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

@using (Html.BeginForm("SearchPersons", "Image", FormMethod.Post))
{
    <p>
        Name: @Html.TextBox("Name") <br />
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>
